*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.container{
    height: calc(100vh - 100px);
    
}

.col-2{
    width: calc(100% / 12 * 2);
    height: 100%;
    background-color: blue;
}

.col-10{
    width: calc(100% / 12 * 10);
    height: 100%;
    background-color: antiquewhite;

}


.player{
    height: 100px;
    background-color: grey;
}

.d_flex{
    display: flex;
}
/* /end-utilities */

/* upgrade-container-region */
.upgrade_container{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    align-items: center;
}

.upgrade_container a{
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid white;
    font-size: 12px;
    border-radius: 1rem 1rem;
}

/* upgrade-container-endregion */

/* navbar-region */
.navbar{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
   
    
}

.navbar a{
    text-decoration: none;
    padding-top: 1rem;
    font-size: 12px;
}