*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */


.container{
    height: calc(100vh - 100px);
    
}

.row{
    height: 100%;
    
}

.col-2{
    width: calc(100% / 12 * 2);
    height: 100%;
    background-color: blue;
    border: 1px solid ;
}




.col-10{
    width: calc(100% / 12 * 10);
    height: 150vh;
    background-color: antiquewhite;
   

}


.player{
    height: 100px;
    background-color: grey;
    position: fixed;
    border-bottom-color: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.d_flex{
    display: flex;
}


/* /end-utilities */

/* upgrade-container-region */
.upgrade_container{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    align-items: center;
}

.upgrade_container a{
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid white;
    font-size: 12px;
    border-radius: 1rem 1rem;
}

/* upgrade-container-endregion */

/* navbar-region */
.navbar{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
   
    
}

.navbar a{
    text-decoration: none;
    padding-top: 1rem;
    font-size: 12px;
}

/* recently_played-region */

.recently_played{
    height: 150px;
    background-color: azure;
    margin-top: 3rem;

}


/* recently_played-endregion */

/* daily_mix-region */

.daily_mix{
    height: 150px;
    background-color: azure;
    margin-top: 3rem;
    
}


.popular_artists{
    height: 150px;
    background-color: azure;
    margin-top: 3rem;
    
}