*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.container{
    height: calc(100vh - 100px);
    
}

.col-2{
    width: calc(100% / 12 * 2);
    height: 100%;
    background-color: blue;
}

.col-10{
    width: calc(100% / 12 * 10);
    height: 100%;
    background-color: antiquewhite;

}


.player{
    height: 100px;
    background-color: grey;
}

.d_flex{
    display: flex;
}
